{% extends 'base.html.twig' %}

{% block title %}
  Hello HomeController!
{% endblock %}

{% block body %}
  <div class="nav">
    <div class="inscription-entete nav25">
      <h1>La Patounerie</h1>
      <img id="patoune2" src="{{ asset('assets/images/patoune3.webp') }}" alt="Patoune" />
    </div>
    <div class="nav25"></div>
    {% if app.user %}
      <div class="nav25">
        <a href="{{ path('app_logout') }}">Se Déconnecter</a>
      </div>
    {% else %}
      <div class="nav25">
        <a href="{{ path('app_inscription') }}">S'inscrire</a>
        <a href="{{ path('app_login') }}">Se Connecter</a>
      </div>
    {% endif %}
  </div>
{% endblock %}
