@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: rgb(115, 131, 209);
    background: linear-gradient(0deg, rgba(115, 131, 209, 1) 0%, rgba(76, 121, 215, 1) 6%, rgba(8, 8, 85, 1) 100%);
    min-height: 100vh;
}

/* NAVBAR */
.nav25 {
    width: 25%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav25 h2 {
    color: white;
    text-shadow: 4px 4px 4px #0A0B58;
}

.nav img {
    color: white;
}

.nav25:last-child {
    text-align: right;
}

.nav25:last-child a {
    padding: 8px 15px;
    background-color: rgb(8, 8, 85);
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.nav {
    display: flex;
    justify-content: space-around;
    background-image: url('https://media.discordapp.net/attachments/1103308573716533399/1176539643110494281/cute-sleepy-kitten-website-header.png?ex=656f3ced&is=655cc7ed&hm=042822a08194f810a9ea4b31446c95d885c0ca859e2007c689b943e44abc7728&=');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}

.nav h1 {
    font-size: 30px;
    text-align: center;
    font-family: "Lemonada", cursive;
    color: rgb(8, 8, 85);
    text-shadow: 6px 3px 15px white;
}

.nav h1 a {
    text-decoration: none;
    color: rgb(8, 8, 85);
}

.inscription-entete {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.inscription-entete img {
    width: 100px;
    height: 80px;
}

.inscription-entete p {
    color: white;
}

/* Page d'inscription */

.inscription-form {
    width: 800px;
    height: 450px;
    margin: 10px auto 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.411);
}

.inscription-form h1 {
    color: white;
    text-align: center;
    padding: 20px 0;
}

.inscription-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.inscription-form form div:last-child {
    width: 462.39px;
}

.telephone-inscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 462.39px;
}

.inscription-form form input,
.inscription-form form select {

    margin: 10px 20px;
}

#register_form_email {
    width: 420px;
}

#register_form_mot_de_passe {
    width: 420px;
}

#register_form_pays {
    width: 420px;
    height: 30px;
}

#register_form_telephone {
    width: 181px;
}

#register_form_inscription {
    height: 30px;
    margin-right: 20px;
}

/*  PAGE CONNEXION */


.form-connexion {
    width: 400px;
    color: white;
    margin: auto;

}

.form-connexion button {
    margin-top: 10px;
    width: 100%;
}

.flash-margin {
    margin-top: 30px;
}

.no-connect a {
    color: white;
}



/* Page home */

#titre-home {
    text-align: center;
    color: white;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.card-flex {
    display: flex;
    /* flex-wrap   : wrap; */
    margin: 20px;
    align-items: center;
    justify-content: space-around;
    height: 300px;
}

.card-flex div {
    margin: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    letter-spacing: 10px;
    color: white;
    text-shadow: 3px 3px 2px black;
}

.chats {
    width: 500px;
    height: 200px;
    background-image: url('https://www.zooplus.fr/magazine/wp-content/uploads/2019/06/comprendre-le-langage-des-chats.jpg');
    background-position: center;
}

.chiens {
    width: 500px;
    height: 200px;
    background-image: url('https://media.letelegramme.fr/api/v1/images/view/64ca2d6078fbf036b913fc68/web_golden_xl/64ca2d6078fbf036b913fc68.1');
    background-position: 40% 25%;
    background-size: cover;
}

.oiseaux {
    width: 500px;
    height: 200px;
    background-image: url('https://media.os.fressnapf.com/cms/2020/05/Ratgeber_Voegel_6_Spatzen_1200x527.jpg');
    background-position: center;
    background-size: cover;
}

.rongeurs {
    width: 500px;
    height: 200px;
    background-image: url('https://4.bp.blogspot.com/-tIn49gZpNXg/WsuJaBSGm2I/AAAAAAAAHRY/PSvTJSftvow25O4KLoolPg1bJMz6l-aggCLcBGAs/s1600/Rongeurs-de-compagnie.jpg');
    background-position: center;
    background-size: cover;
}

.reptiles {
    width: 500px;
    height: 200px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/9a/Lacerta_bilineata_masculus_et_femella_%2B_Podarcis_muralis_%28Sarthe%29.JPG');
    background-position: 60% 70%;
    background-size: cover;
}

/* Caroussel */

.flex-caroussel {
    display: flex;
    align-items: center;
}

.prev,
.next {
    height: 30px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    color: white;
}

.carousel-container {
    overflow: hidden;
    width: 100%;
}

.card-flex {
    display: flex;
    width: fit-content;
    transition: transform 0.5s ease;
}

.card-flex>div {
    flex: 0 0 auto;
    margin-right: 10px;
    /* ajustez la marge entre les éléments en conséquence */
    white-space: nowrap;
    /* pour empêcher le renvoi à la ligne des éléments */
    /* box-shadow: 2px 3px 20px 10px black; */
}

.button {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Page details */
.flex-details {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.h1-details {
    text-align: center;
    color: white;
    margin-top: 30px;
}

.img-details {
    height: 250px;
}

.card-details>div img {
    height: 100%;
}

.demande {
    color: red;
    font-weight: bold;
}


/* Partie Formulaire adoption */

.titre-formu-adoption {
    text-align: center;
    color: white;
    margin: 20px 0;
}

.formulaire_adoption {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    color: white;
}

.formulaire_adoption form {
    width: 100%;
}

.recap {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    justify-content: space-around;
    margin: 30px 0;
}

.formulaire_adoption input,
.formulaire_adoption label {
    width: 150px;
    height: 24px;
    margin: 5px;
}

#infosadoption {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.377);
    padding: 10px;
}

#infosadoption div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#infosadoption div button {
    margin: 50px 0;
}

#infosadoption input,
#infosadoption select {
    width: 300px;
    margin: 10px 0;
}

#infosadoption label {
    width: 500px;
    margin: 0;
}



/* Partie categorie */

.infos-categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-espece h2 {
    color: white;
    font-size: 44px;
    margin-bottom: 30px;
}

.paragraphe-espece {
    width: 500px;
    color: white;
    text-align: justify;
    font-size: 16px;
    margin-left: 20px;
}

.saviez {
    font-size: 26px;
    font-weight: bold;
    border-top: 1px solid black;
    padding-top: 30px;
}

.card-flex-categorie {
    display: flex;
    margin: 40px 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-flex-categorie h1 {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
}

.card-flex-categorie img {
    height: 250px;
}

.cards-category {
    margin: 0 20px;
    background-color: rgb(248, 245, 245)
}

.animal_vide {
    font-size: 60px;
    text-align: center;
    color: white;
}

.retour_animal_vide {
    margin: 30px 0 0 0;
    text-align: center;
}

.retour_animal_vide a {
    font-size: 45px;
    color: white;

}


/* Medias queries */

@media (max-width: 1550px) {
    .nav25:last-child h2 {
        font-size: 20px;
        align-items: center;
    }

    .inscription-entete {
        margin-top: 20px;
    }

    .inscription-entete p {
        font-size: 16px;
        color: white;
    }
}